body {
  font-family: monospace;
  background-color: beige;
}

.jumbotron {
  background-color: gainsboro;
}

.well {
  background-color: burlywood;
}

.header {
  width: 35%;
  float: right;
  border: 10px;
  padding: 15px;
  margin: 15px;
  float: right;
}

.row {
  padding: 10px;
}

.hello {
  float: left;
  font-size: 300%;
  line-height: 80%
}

.footer {
  width: 75%;
  float: left;
  padding: 10px;
  margin: 10px;
  border: 10px;
}

.span-footer {
  font-family: fantasy;
}

.sidebar {
  position:static;
  width: 75%;
  padding: 10px;
  margin: 10px; 
}

@media screen and (max-width: 800px) {
  .header {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    width: 100%;
  }
}